<app-header></app-header>
<nav ngbNav #nav="ngbNav" class="nav-tabs" >
  <ng-container ngbNavItem>
    <a ngbNavLink>Mis Filtros</a>
    <ng-template ngbNavContent>
      <br>
      <br>
      <br>
      <div class="row justify-content-center">
        <div class="col-md-auto" >
          <div class="btn-group btn-group-toggle">
            <label class="btn btn-info" ngbButtonLabel>
              <input type="checkbox" ngbButton [(ngModel)]="extrafil.universidad"> Universidad
            </label>
            <label class="btn btn-info" ngbButtonLabel>
              <input type="checkbox" ngbButton [(ngModel)]="extrafil.ayuntamiento"> Ayuntamiento
            </label>
          </div>
        </div>
      </div>
      <br>
      <div class="row justify-content-center">
        <div class="col-md-auto" >
          <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="locfil">
            <label ngbButtonLabel class="btn-info">
              <input ngbButton type="radio" value="Zaragoza"> Zaragoza
            </label>
            <label ngbButtonLabel class="btn-info">
              <input ngbButton type="radio" value="Huesca"> Huesca
            </label>
            <label ngbButtonLabel class="btn-info">
              <input ngbButton type="radio" value="Teruel"> Teruel
            </label>
          </div>
        </div>
      </div>
      <div class="row justify-content-center" style="margin-top: 7%">
        <div class="col-md-auto">
          <button class="btn btn-secondary" type="submit" (click)="saveFilters()"> Guardar Mis Filtros </button>
        </div>
      </div>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink (click)="updateCheck()">Mis Mensajes</a>
    <ng-template ngbNavContent>
      <div *ngIf="nores" class="row justify-content-center" >
        <div class="col-md-auto">
          <span style="color: crimson">
            <br> No se han encontrado resultados
          </span>
        </div>
      </div>
      <ngb-accordion [closeOthers]="true" activeIds="static-1" style="align-content: center;width: 50%">
        <ngb-panel *ngFor="let item of listado | slice: (page-1) * pageSize : page * pageSize" title="{{item.titulo}}" style="alignment: center;width: 80%" >
          <ng-template ngbPanelTitle>
              <span *ngIf="isPrevious(lastChecked,item.last_date)" style="color: red">   Nuevo</span>
          </ng-template>
            <ng-template ngbPanelContent>
              <hr/>
              <div class="row" style="margin-left: 10%;" >
                <div class="col-md-5" >
                  <a href="https://aragojoblocator.herokuapp.com/perfil/{{item.creadorID}}">{{item.participante_1}}</a><span> escribió el <span style="color: crimson">{{item.mensajes[0].fecha_msj}}</span>: </span>
                </div>
              </div>
              <hr/>
              <div class="row" style="margin-left: 10%">
                <div class="col-md-5" >
                  <p>
                    {{item.mensajes[0].contenido}}
                  </p>
                </div>
              </div>
            </ng-template>
        </ngb-panel>
      </ngb-accordion>
      <div class="row justify-content-center" style="margin-top: 2%">
        <ngb-pagination *ngIf="listado_len > 0"[collectionSize]="listado_len" [(page)]="page" [boundaryLinks]="true" style="margin-left: auto;margin-right: auto">
          <ng-template ngbPaginationPages let-page let-pages="pages">
            <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
              <div class="form-group d-flex flex-nowrap px-2">
                <label
                  id="paginationInputLabel"
                  for="paginationInput"
                  class="col-form-label mr-2 ml-1"
                >Page</label>
                <input #i
                       type="text"
                       inputmode="numeric"
                       pattern="[0-9]*"
                       class="form-control custom-pages-input"
                       id="paginationInput"
                       [value]="page"
                       (keyup.enter)="selectPage(i.value)"
                       (blur)="selectPage(i.value)"
                       (input)="formatInput($any($event).target)"
                       aria-labelledby="paginationInputLabel paginationDescription"
                       style="width: 2.5rem"
                />
                <span id="paginationDescription" class="col-form-label text-nowrap px-2">
                  of {{pages.length}}</span>
              </div>
            </li>
          </ng-template>
        </ngb-pagination>
      </div>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink>Three</a>
    <ng-template ngbNavContent>
      <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi.
        Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio.
        Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna,
        egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec
        tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et
        magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget
        neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
    </ng-template>
  </ng-container>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
