<app-header></app-header>
<p>perfil works! {{usuarioId}}</p>

<div *ngIf="islog" class="row justify-content-center" style="margin-top: 7%">
  <div class="col-md-auto">
    <button class="btn btn-secondary" id="convoBut" style="width: 250px" (click)="openModal2(templateconvo)"> Enviar Mensaje </button>
  </div>
</div>

<div *ngIf="islog && isAdmin" class="row justify-content-center" style="margin-top: 4%">
  <div class="col-md-auto">
    <button class="btn btn-danger" id="usersBut" style="width: 250px" (click)="openModal(template)"> Borrar Usuario </button>
  </div>
</div>


<ng-template #template>
  <div class="modal-body text-center">
    <p>Confirmar Borrado</p>
    <button type="button" class="btn btn-danger" (click)="confirm()" >Borrar</button>
    <button type="button" class="btn btn-secondary" (click)="decline()" >Cerrar</button>
  </div>
</ng-template>

<ng-template #templateconvo>
  <div class="modal-body text-center">
    <div class="container-fluid form-group" style="width: max-content">
      <div class="row">
        <div class="col-12">
          <div class="input-group input-group-lg" style="margin-top: 7%">
            <input class="form-control input-lg" type="text" style="width: max-content" placeholder="Asunto" name="titulo" [(ngModel)]="titulo"  required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="input-group input-group-lg" style="margin-top: 7%">
            <textarea class="form-control" cols="6" rows="10" style="width: max-content" placeholder="Mensaje" name="contenido" [(ngModel)]="contenido" required></textarea>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-success" (click)="confirmMsj()" >Enviar</button>
    <button type="button" class="btn btn-secondary" (click)="decline()" >Cerrar</button>
  </div>
  <div *ngIf="showSuccess" class="row justify-content-center" style="margin-top: 7%">
    <div class="col-md-auto">
        <span style="color: green">
          Mensaje enviado con éxito.
        </span>
    </div>
  </div>
  <div *ngIf="showError" class="row justify-content-center" style="margin-top: 7%">
    <div class="col-md-auto">
        <span style="color: red">
          Error al enviar mensaje
        </span>
    </div>
  </div>
</ng-template>
