<app-header></app-header>
<div class="container-fluid form-group" style="width: max-content">
  <div class="row justify-content-center" style="margin-top: 20%">
    <div class="col-md-auto">
      <label class="input-group-label">Puesto <span style="color: crimson">*</span>
        <br>
        <input class="form-control" type="text" placeholder="Puesto" name="puesto" [(ngModel)]="denomincion"  required></label>
      <span *ngIf="showPuestoError" style="color: crimson">
               <br> Campo Obligatorio
          </span>
    </div>
    <div class="col-md-auto">
      <label class="input-group-label">Convocante <span style="color: crimson">*</span>
        <br>
        <input class="form-control" type="text" placeholder="Convocante" name="convocante" [(ngModel)]="convocante"  required></label>
      <span *ngIf="showConvocanteError" style="color: crimson">
               <br> Campo Obligatorio
          </span>
    </div>
  </div>

  <div class="row justify-content-center" style="margin-top: 7%">
    <div class="col-md-auto">
      <label class="input-group-label">Plazas
        <br>
        <input class="form-control" type="number" placeholder="Plazas" name="plazas" [(ngModel)]="plazas"></label>
    </div>
    <div class="col-md-auto">
      <label class="input-group-label">URL
        <br>
        <input class="form-control" type="url" placeholder="url" name="url" [(ngModel)]="url"></label>
    </div>
  </div>

  <div class="row justify-content-center"  style="margin-top: 7%">
    <div class="col-md-auto">
      <label class="input-group-label">Tipo de la oferta <span style="color: crimson">*</span></label>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-auto" >
      <div class="btn-group btn-group-toggle">
        <label class="btn btn-info" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="tipoSelect.libre"> Libre
        </label>
        <label class="btn btn-info" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="tipoSelect.interna"> Interna
        </label>
      </div>
    </div>
  </div>
  <div class="row justify-content-center" >
    <div class="col-md-auto">
            <span *ngIf="showTipoError" style="color: crimson">
                   <br> Campo Obligatorio
            </span>
    </div>
  </div>

  <div class="row justify-content-center" style="margin-top: 7%">
    <div class="col-md-auto">
      <label class="input-group-label">Contacto adicional
        <br>
        <input class="form-control" type="text" placeholder="Contacto" name="contacto" [(ngModel)]="contacto"></label>
    </div>
  </div>

  <div class="row justify-content-center" style="margin-top: 7%">
    <div class="col-md-auto">
      <label class="input-group-label">Fecha Inicio Presentación <span style="color: crimson">*</span>
        <br>
        <input class="form-control" type="date" placeholder="Fecha Inicio" name="inicio" [(ngModel)]="f_inicioPresentacion"  required></label>
      <span *ngIf="showFInitError" style="color: crimson">
               <br> Campo Obligatorio
          </span>
    </div>
    <div class="col-md-auto">
      <label class="input-group-label">Fecha Fin Presentación <span style="color: crimson">*</span>
        <br>
        <input class="form-control" type="date" placeholder="Fecha Fin" name="fin" [(ngModel)]="f_finPresentacion"  required></label>
      <span *ngIf="showFFinError" style="color: crimson">
               <br> Campo Obligatorio
          </span>
    </div>
  </div>



  <div class="row justify-content-center" style="margin-top: 7%">
    <div class="col-md-auto">
      <button class="btn btn-secondary" type="submit" id="ofertaBut" (click)="createOferta()"> Crear Oferta </button>
    </div>
  </div>
  <div *ngIf="showSuccess" class="row justify-content-center" style="margin-top: 7%">
    <div class="col-md-auto">
        <span style="color: green">
          Oferta creada con éxito.
        </span>
    </div>
  </div>
</div>
